* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}
h1 {
  font-size: 50px;
  color: #3a5a40;
}

.description {
  margin-top: -20px;
}
*:focus {
  outline: none;
}

.container {
  text-align: center;
}

.hidden p {
  display: none;
}

.button,
#zip-code {
  border: 2px solid #dad7cd;
  margin: 15px auto;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px 15px;
  width: 100%;
  max-width: 350px;
  transition-duration: 0.3s;
}

:hover#zip-code {
  border: 2px solid #008cba;
}

:hover.button {
  background-color: #008cba;
  color: white;
  border: #008cba;
  cursor: pointer;
}

#zip-code {
  text-align: center;
}

h2 {
  font-size: 16px;
}

.results-list {
  list-style: none;
  padding: 0;
}

a {
  color: #2c4430;
}

.bird-sighting {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  color: #3a5a40;
}

.bird-sighting:hover {
  box-shadow: 2px 2px 15px #38573e60;
  transition-duration: 0.5s;
}

.bird-sighting span {
  flex: 1;
}

.bird-sighting {
  text-transform: capitalize;
}
.sub-location {
  display: none;
}
