* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  text-align: center;
}

.hidden p {
  display: none;
}

.button,
#zip-code {
  border: 2px solid rgb(197, 196, 196);
  margin: 15px auto;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px 15px;
  width: 100%;
  max-width: 350px;
  transition-duration: 0.3s;
}

:hover.button {
  background-color: #008cba;
  color: white;
  border: #008cba;
}

#zip-code {
  text-align: center;
}

.results-list {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.bird-sighting {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
}

.bird-sighting:hover {
  box-shadow: 2px 2px 15px #008cba;
}

.bird-sighting span {
  flex: 1;
}

.bird-sighting {
  text-transform: capitalize;
}
.sub-location {
  display: none;
}
